In [2]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
X, y = load_iris(return_X_y=True)

In [3]:
clf = LogisticRegression(random_state=0).fit(X, y)

/Users/nicksmith/opt/anaconda3/envs/NFL/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [4]:
clf.predict(X[:2, :])

array([0, 0])

In [5]:
clf.predict_proba(X[:2, :])

array([[9.81811410e-01, 1.81885759e-02, 1.44219215e-08],
       [9.71751711e-01, 2.82482586e-02, 3.01568703e-08]])

In [6]:
clf.score(X, y)

0.9733333333333334

In [7]:
import pandas as pd
df = pd.read_csv("Punt_Block_Research - Sheet1 (6).csv")
pd.set_option('display.max_columns', 500)

df

,Date of Game,Game ID,Team that blocked,Team that was blocked,Home Team,Home Score,Away Score,Home Final Score,Away Final Score,Half,location of block,return yards,resulting drive starting location,score off return,Score on resulting drive,# of plays on resulting drive,yards on resulting drive,points scored off block/resulting drive,Blocking_team_won,score differential after block (Blocking - Blocked),Points scored by blocking team after block,points scored by team that was blocked after block,Blocking Team was winning,Blocking team won,seconds left at punt,seconds left after drive,drives before punt blocked (blocking team),drives after punt (blocking team),length of drive (seconds),Sub 32 degrees/15 mph wind?,Degree of Precipitation,number of rushers
0,2017-09-10,2017_01_PIT_CLE,PIT,CLE,CLE,0.0,6.0,18.0,21.0,Half1,16.0,0.0,NaN,1.0,NaN,0.0,0.0,6.0,1.0,-3.0,15.0,18.0,1.0,1.0,3472.0,3472.0,0.0,10.0,0.0,0.000000,0.000000,6.0
1,2017-10-15,2017_06_LA_JAX,LA,JAX,JAX,14.0,23.0,17.0,27.0,Half1,19.0,8.0,NaN,1.0,NaN,0.0,0.0,6.0,0.0,1.0,4.0,3.0,1.0,1.0,1952.0,1952.0,8.0,5.0,0.0,0.000000,0.000000,7.0
2,2017-10-29,2017_08_IND_CIN,CIN,IND,CIN,0.0,0.0,24.0,23.0,Half1,53.0,0.0,53.0,0.0,1.0,9.0,38.0,3.0,1.0,1.0,24.0,23.0,0.0,1.0,3288.0,3041.0,0.0,9.0,247.0,0.000000,0.000000,8.0
3,11/5/17,2017_09_LA_NYG,LA,NYG,NYG,10.0,41.0,17.0,51.0,Half2,34.0,0.0,34.0,0.0,1.0,3.0,18.0,6.0,1.0,3.0,10.0,7.0,1.0,1.0,1203.0,1108.0,8.0,3.0,95.0,0.000000,1.000000,6.0
4,11/5/17,2017_09_TB_NO,NO,TB,NO,9.0,0.0,30.0,10.0,Half1,28.0,7.0,NaN,1.0,NaN,0.0,0.0,6.0,1.0,11.0,21.0,10.0,1.0,1.0,3097.0,3097.0,1.0,9.0,0.0,0.000000,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,12/26/21,2021_16_WAS_DAL,DAL,WAS,DAL,48.0,7.0,56.0,14.0,Half2,10.0,0.0,10.0,1.0,NaN,0.0,0.0,6.0,1.0,1.0,8.0,7.0,1.0,1.0,1272.0,1272.0,8.0,3.0,0.0,0.000000,0.000000,1.0
64,1/9/22,2021_18_NYJ_BUF,BUF,NYJ,BUF,10.0,0.0,27.0,10.0,Half1,45.0,0.0,45.0,0.0,0.0,4.0,6.0,0.0,1.0,7.0,17.0,10.0,1.0,1.0,2722.0,2610.0,2.0,12.0,112.0,2.000000,2.000000,1.0
65,1/22/22,2021_20_SF_GB,SF,GB,GB,10.0,9.0,10.0,13.0,Half2,12.0,0.0,NaN,1.0,NaN,0.0,0.0,6.0,1.0,4.0,4.0,0.0,0.0,1.0,290.0,290.0,8.0,1.0,0.0,2.000000,0.000000,5.0
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.000000,8.000000,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.164179,0.119403,NaN

In [38]:
smallerdf = df[["Degree of Precipitation", "Sub 32 degrees/15 mph wind?", "location of block"]]
smallerdf = smallerdf.drop([66,67])

smallerdf['Blocked'] = 1
smallerdf

,Degree of Precipitation,Sub 32 degrees/15 mph wind?,location of block,Blocked
0,0.0,0.0,16.0,1
1,0.0,0.0,19.0,1
2,0.0,0.0,53.0,1
3,1.0,0.0,34.0,1
4,0.0,0.0,28.0,1
...,...,...,...,...
61,0.0,0.0,9.0,1
62,0.0,0.0,32.0,1
63,0.0,0.0,10.0,1
64,2.0,2.0,45.0,1
65,0.0,2.0,12.0,1

In [9]:
smallerdf.describe()

,Degree of Precipitation,Sub 32 degrees/15 mph wind?,location of block,Blocked
count,66.000000,66.000000,66.000000,66.0
mean,0.121212,0.166667,29.909091,1.0
std,0.411943,0.450071,11.658905,0.0
min,0.000000,0.000000,4.000000,1.0
25%,0.000000,0.000000,23.000000,1.0
50%,0.000000,0.000000,31.000000,1.0
75%,0.000000,0.000000,36.750000,1.0
max,2.000000,2.000000,54.000000,1.0

In [10]:
import nfl_data_py as nfl
full_data = nfl.import_pbp_data([2017, 2018, 2019, 2020, 2021], downcast=True, cache=False, alt_path=None)

newData = full_data[['play_id', 'yardline_100', "return_yards", "play_type_nfl"]]
puntData = newData[newData["return_yards"] >= 20.0]
puntData = puntData[puntData["play_type_nfl"] == 'PUNT']
puntData

2017 done.
2018 done.
2019 done.
2020 done.
2021 done.
Downcasting floats.

/Users/nicksmith/opt/anaconda3/envs/NFL/lib/python3.10/site-packages/nfl_data_py/__init__.py:137: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  plays.loc[:, cols] = plays.loc[:, cols].astype(numpy.float32)

        play_id  yardline_100  return_yards play_type_nfl
142      3428.0          66.0          24.0          PUNT
932      1376.0          78.0          21.0          PUNT
1312     1262.0          72.0          31.0          PUNT
1912     3678.0          91.0          25.0          PUNT
2361     1580.0          70.0          25.0          PUNT
...         ...           ...           ...           ...
241543    499.0          85.0          48.0          PUNT
242025   3078.0          85.0          45.0          PUNT
242300   1208.0          83.0          21.0          PUNT
242354   2481.0          88.0          33.0          PUNT
242983    633.0          65.0          20.0          PUNT

[348 rows x 4 columns]

In [29]:
#puntData.to_csv("temporary.csv")
t = pd.read_csv("Untitled spreadsheet - temporary.csv")
t = t.drop(['Unnamed: 0'], axis = 1)
t

     yardline_100  Blocked
0              66        0
1              78        0
2              72        0
3              91        0
4              70        0
..            ...      ...
343            85        0
344            85        0
345            83        0
346            88        0
347            65        0

[348 rows x 2 columns]

In [31]:
df2 = pd.read_csv("updated_punt_return.csv")
df2

,Unnamed: 0,Game Date,Play ID,Play Type,Play Type NFL,Punt Inside Twenty,Possession Team,Home Team,Away Team,Home Score,Away Score,Total Home Score,Total Away Score,Win Percentage,Defensive Win Percentage,Game Hald,Return Yards,Return Touchdown,Game Seconds Remaining,Game ID,Return Team,Score on resulting drive,# of Plays on Resulting Drive,Yards on Resulting Drive,Points Scored off Return/Resulting Drive,Drive After Return Length (Seconds),Return Team Possessions Before Return,Return Team Possession After Return,Yards Per Play on Resulting Drive,score differential before ret (ret - punt),ret team winning before ret,Return Team Won,Points scored by ret team after ret,points scored by punt team after ret,time expired on next drive,time left after drive after ret,ret team points before ret,punt team points before ret,ret team final points,punt team final points,score difference at punt (ret-punt),final score difference. (ret-punt),score difference change from (final - at punt),points per drive before ret,points per drive after ret,time to score each point after ret,time to score each point on next poss after ret (seconds),Sub 32 degrees/15 mph wind?,Degree of Precipitation
0,142.0,2017-09-10,3428.0,punt,PUNT,0.0,ARI,DET,ARI,35.0,23.0,15.0,17.0,0.561132,0.438868,Half2,24.0,0.0,869.0,2017_01_ARI_DET,DET,1.0,10.0,67.0,6.0,289.0,10.0,3.0,6.7,-2.0,-1.0,1.0,20.0,6.0,0.0,580.0,15.0,17.0,35.0,23.0,-2.0,12.0,14.0,1.5,6.666667,43.45,48.16666667,0.000000,0.00000
1,932.0,2017-09-10,1376.0,punt,PUNT,0.0,JAX,HOU,JAX,7.0,29.0,0.0,6.0,0.620554,0.379446,Half1,21.0,0.0,2331.0,2017_01_JAX_HOU,HOU,0.0,3.0,15.0,0.0,66.0,4.0,7.0,5,-6.0,-1.0,-1.0,7.0,23.0,0.0,2265.0,0.0,6.0,7.0,29.0,-6.0,-22.0,-16.0,0,1.000000,333,#DIV/0!,0.000000,0.00000
2,1312.0,2017-09-11,1262.0,punt,PUNT,0.0,LAC,DEN,LAC,24.0,21.0,7.0,7.0,0.394576,0.605424,Half1,31.0,0.0,2420.0,2017_01_LAC_DEN,DEN,1.0,9.0,56.0,7.0,278.0,3.0,9.0,6.222222222,0.0,0.0,1.0,17.0,14.0,0.0,2142.0,7.0,7.0,24.0,21.0,0.0,3.0,3.0,2.333333333,1.888889,142.3529412,39.71428571,0.000000,0.00000
3,1912.0,2017-09-10,3678.0,punt,PUNT,0.0,BUF,BUF,NYJ,21.0,12.0,21.0,12.0,0.886637,0.113363,Half2,25.0,0.0,466.0,2017_01_NYJ_BUF,NYJ,0.0,3.0,2.0,0.0,58.0,9.0,3.0,0.6666666667,-9.0,-1.0,-1.0,0.0,0.0,0.0,408.0,12.0,21.0,12.0,21.0,-9.0,-9.0,0.0,1.333333333,0.000000,#DIV/0!,#DIV/0!,0.000000,0.00000
4,2361.0,2017-09-10,1580.0,punt,PUNT,0.0,PIT,CLE,PIT,18.0,21.0,7.0,7.0,0.431481,0.568519,Half1,25.0,0.0,2130.0,2017_01_PIT_CLE,CLE,0.0,3.0,4.0,0.0,86.0,4.0,6.0,1.333333333,0.0,0.0,-1.0,11.0,14.0,0.0,2044.0,7.0,7.0,18.0,21.0,0.0,-3.0,-3.0,1.75,1.833333,193.6363636,#DIV/0!,0.000000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,242300.0,2022-01-23,1208.0,punt,PUNT,0.0,TB,TB,LA,27.0,30.0,3.0,17.0,0.133663,0.866337,Half1,21.0,0.0,2610.0,2021_20_LA_TB,LA,0.0,3.0,-3.0,0.0,46.0,3.0,12.0,-1,14.0,1.0,1.0,13.0,24.0,0.0,2564.0,17.0,3.0,30.0,27.0,14.0,3.0,-11.0,5.666666667,1.083333,200.7692308,#DIV/0!,0.000000,0.00000
346,242354.0,2022-01-23,2481.0,punt,PUNT,0.0,TB,TB,LA,27.0,30.0,3.0,20.0,0.041715,0.958285,Half2,33.0,0.0,1539.0,2021_20_LA_TB,LA,1.0,6.0,28.0,7.0,198.0,7.0,8.0,4.666666667,17.0,1.0,1.0,10.0,24.0,0.0,1341.0,20.0,3.0,30.0,27.0,17.0,3.0,-14.0,2.857142857,1.250000,153.9,28.28571429,0.000000,0.00000
347,242983.0,2022-02-13,633.0,punt,PUNT,0.0,LA,CIN,LA,20.0,23.0,0.0,7.0,0.658733,0.341267,Half1,20.0,0.0,2843.0,2021_22_LA_CIN,CIN,1.0,6.0,59.0,3.0,101.0,2.0,10.0,9.833333333,-7.0,-1.0,-1.0,20.0,16.0,0.0,2742.0,0.0,7.0,20.0,23.0,-7.0,-3.0,4.0,0,2.000000,142.15,33.66666667,0.000000,0.00000
348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,15.00000
349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.057307,0.04298

In [33]:
smallerdf2 = df2[["Degree of Precipitation", "Sub 32 degrees/15 mph wind?"]]
frames = [t, smallerdf2]

result = pd.concat(frames, axis=1)
result = result.drop([348,349])
result

,yardline_100,Blocked,Degree of Precipitation,Sub 32 degrees/15 mph wind?
0,66.0,0.0,0.0,0.0
1,78.0,0.0,0.0,0.0
2,72.0,0.0,0.0,0.0
3,91.0,0.0,0.0,0.0
4,70.0,0.0,0.0,0.0
...,...,...,...,...
343,85.0,0.0,0.0,1.0
344,85.0,0.0,0.0,0.0
345,83.0,0.0,0.0,0.0
346,88.0,0.0,0.0,0.0
347,65.0,0.0,0.0,0.0

In [34]:
for index in range(348):
    if result.loc[index,'yardline_100'] != "nan":
        if result.loc[index,'yardline_100'] > 50:
            result.loc[index,'yardline_100'] -= 50
            
result

,yardline_100,Blocked,Degree of Precipitation,Sub 32 degrees/15 mph wind?
0,16.0,0.0,0.0,0.0
1,28.0,0.0,0.0,0.0
2,22.0,0.0,0.0,0.0
3,41.0,0.0,0.0,0.0
4,20.0,0.0,0.0,0.0
...,...,...,...,...
343,35.0,0.0,0.0,1.0
344,35.0,0.0,0.0,0.0
345,33.0,0.0,0.0,0.0
346,38.0,0.0,0.0,0.0
347,15.0,0.0,0.0,0.0

In [39]:
final = smallerdf.rename(columns = {'location of block':'yardline_100'})
final

,Degree of Precipitation,Sub 32 degrees/15 mph wind?,yardline_100,Blocked
0,0.0,0.0,16.0,1
1,0.0,0.0,19.0,1
2,0.0,0.0,53.0,1
3,1.0,0.0,34.0,1
4,0.0,0.0,28.0,1
...,...,...,...,...
61,0.0,0.0,9.0,1
62,0.0,0.0,32.0,1
63,0.0,0.0,10.0,1
64,2.0,2.0,45.0,1
65,0.0,2.0,12.0,1

,Degree of Precipitation,Sub 32 degrees/15 mph wind?,location of block,Blocked,yardline_100
0,0.0,0.0,16.0,1.0,NaN
1,0.0,0.0,19.0,1.0,NaN
2,0.0,0.0,53.0,1.0,NaN
3,1.0,0.0,34.0,1.0,NaN
4,0.0,0.0,28.0,1.0,NaN
...,...,...,...,...,...
343,0.0,1.0,NaN,0.0,35.0
344,0.0,0.0,NaN,0.0,35.0
345,0.0,0.0,NaN,0.0,33.0
346,0.0,0.0,NaN,0.0,38.0
347,0.0,0.0,NaN,0.0,15.0

In [16]:
finalcsv = pd.concat([smallerdf, result])
finalcsv

,Degree of Precipitation,Sub 32 degrees/15 mph wind?,location of block,Blocked,Unnamed: 0,yardline_100
0,0.0,0.0,16.0,1.0,NaN,NaN
1,0.0,0.0,19.0,1.0,NaN,NaN
2,0.0,0.0,53.0,1.0,NaN,NaN
3,1.0,0.0,34.0,1.0,NaN,NaN
4,0.0,0.0,28.0,1.0,NaN,NaN
...,...,...,...,...,...,...
343,0.0,1.0,NaN,0.0,241543.0,35.0
344,0.0,0.0,NaN,0.0,242025.0,35.0
345,0.0,0.0,NaN,0.0,242300.0,33.0
346,0.0,0.0,NaN,0.0,242354.0,38.0
347,0.0,0.0,NaN,0.0,242983.0,15.0

In [17]:
finalcsv.to_csv("combinedblockandreturn.csv")

In [42]:
finalcsv = pd.concat([result, final])
finalcsv.to_csv("combinedblockandreturn.csv")

In [35]:
result

,yardline_100,Blocked,Degree of Precipitation,Sub 32 degrees/15 mph wind?
0,16.0,0.0,0.0,0.0
1,28.0,0.0,0.0,0.0
2,22.0,0.0,0.0,0.0
3,41.0,0.0,0.0,0.0
4,20.0,0.0,0.0,0.0
...,...,...,...,...
343,35.0,0.0,0.0,1.0
344,35.0,0.0,0.0,0.0
345,33.0,0.0,0.0,0.0
346,38.0,0.0,0.0,0.0
347,15.0,0.0,0.0,0.0

In [40]:
final

,Degree of Precipitation,Sub 32 degrees/15 mph wind?,yardline_100,Blocked
0,0.0,0.0,16.0,1
1,0.0,0.0,19.0,1
2,0.0,0.0,53.0,1
3,1.0,0.0,34.0,1
4,0.0,0.0,28.0,1
...,...,...,...,...
61,0.0,0.0,9.0,1
62,0.0,0.0,32.0,1
63,0.0,0.0,10.0,1
64,2.0,2.0,45.0,1
65,0.0,2.0,12.0,1